body{
    background-color: #20235d;
    height:100vh;
}
.todo-app{
    max-width:600px;
    background-color:azure;
    padding:20px 30px 50px;
    margin:120px auto 15px;
}
.todo-app h1{
    text-align: center;
}
form{
    display:flex;
    align-items: center;
    gap:10px;
    margin-bottom:30px;
}
input[type="text"]{
    width:70%;
    padding:20px;
    border:4px solid blueviolet;
    font-size: 1rem;
}
.btn{
    background-color:cornflowerblue;
    font: size 1.5rem;
    cursor:pointer;
    border-radius: 15px;
    padding:20px 30px;
}
.btn:hover{
    background-color: aquamarine;
}
ul li{
    list-style-type: none;
    padding:10px 6px 10px 30px;
    cursor:pointer;
    position:relative;
}

/* /* checkbox chahiye */
ul li::before{
    content:"☐";
    font-size:25px;
    position:absolute;
    left:-1px;
    top:4px;
}
li{
    background:#e0e7ff;
    padding:10px;
    border-radius: 8px;
    margin-bottom:8px;
    display:flex;
    align-items:center;

}
ul li.checked{
    text-decoration: line-through;
    color:yellowgreen;
}
/* ul li.checked::before{
    content:"☑";
    color:"yellow";
} */
ul li span{
    position:absolute;
    top:1.8px;
    right:5px;
    color:rgb(227,120,26);
    font-size: 2rem;
}



/* Delete button style */
.delete-btn {
    background-color: crimson;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto; /* pushes button to the right */
    font-size: 0.9rem;
}

.delete-btn:hover {
    background-color: darkred;
}
